.right_containerhtml, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
}
ol, ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
a img {
  border: 0;
}
.header{
	width:100%;
	height:auto;
	background:#160584;
	color:#fff;
	font-size:32px;
	font-family: 'Trebuchet MS', sans-serif;
	font-weight:bold;
	padding-left:30px;
	padding:10px;
}
.header a{

	color:#f3f3f3;

}
.logo_img{
	padding-left:5px;
	padding-top:5px;
}
.main_container{
	width:100%;
	height:100%;
	background:#fff;
}
.left_container{
    float: left;
	position:relative;
	width:16%;
	height:100%;
	background:#3D3D3D;
	color:#fff;
	background-image: url("./images/left-cont-bg.png") repeat-x repeat-y;
}
.right_container{
    float: left;
	position:relative;
	width:100%;
	height:auto;
	min-height:100%;
	background:#fff;
	color:red;
}
.right_container_index{
    float: left;
	position:relative;
	width:84%;
	height:auto;
	min-height:100%;
	background:#fff;
	color:red;
}
.right_container_full{
    float: left;
	position:relative;
	width:100%;
	height:auto;
	min-height:100%;
	background:#fff;
	color:red;
}
.page_title_div{
	padding-left:15px;
	padding-top:20px;
}
h1{
	font-size:28px;
	padding:0px;
}
.content_holder{
	float: left;
	position:relative;
	background:#fff;
	border:1px solid AE57DF;
	width:98%;
	margin-left:15px;
	margin-top:40px;
	height:auto;

}
.content_holder_page{
	float: left;
	position:relative;
	background:#fff;
	border:1px solid AE57DF;
	width:95%;
	margin-left:15px;
	margin-top:40px;
	height:auto;
	padding:15px;

}
 
.content_holder_small{
	float: left;
	position:relative;
	background:#fff;
	border:1px solid AE57DF;
	width:50%;
	margin-left:15px;
	margin-top:40px;
	height:auto;

}
.content_holder_order_details{
	float: left;
	position:relative;
	background:#fff;
	border:1px solid AE57DF;
	width:35%;
	margin-left:15px;
	margin-top:40px;
	height:auto;
	padding:10px;
	font-size:13px;
}	
.content_holder_mini{
	float: left;
	position:relative;
	background:#fff;
	border:1px solid AE57DF;
	width:50%;
	margin-left:15px;
	margin-top:40px;
	height:auto;

}	
/*.content_holder_heading{
	background:#AE57DF;
	height:28px;
	color:#fff;
	font-size:16px;
	padding-top:8px;
	padding-left:5px;
}*/	
.content_holder_heading{
	background:#1B03A3;
	height:28px;
	color:#fff;
	font-size:16px;
	padding-top:8px;
	padding-left:5px;
	border-radius: 5px 5px 0px 0px;
}
.content_holder_heading_reg{
	background:#1B03A3;
	height:28px;
	color:#fff;
	font-size:16px;
	padding-top:8px;
	padding-left:5px;
	border-radius: 5px 5px 0px 0px;
	width:641px;
}	

.content_holder_body{
	padding:17px;
	border:1px solid #1B03A3;
	width:auto;
	height:auto;
}
.content_holder_body_reg{
	padding:17px;
	border:1px solid #1B03A3;
	width:610px;
	height:auto;
}
.multiselect{
	height:100px;
}
.content_holder_body a{
	color:#FF5733;
}
.footer{
	width:100%;
	height:21px;
	font-size:12px;
	color:#fff;
	padding-top:4px;
	text-align:center;
	background:#3D3D3D;
}
a{
	text-decoration:none;
	color:#FF5733;
}
input[type="text"]
{
	width: 300px;
	height:30px;
	padding-left:10px;
	padding-right:10px;
	font-family: 'Open Sans', sans-serif;
	border:1px solid #A9A9A9;
		-webkit-transition: all 0.30s ease-in-out;
		-moz-transition: all 0.30s ease-in-out;
		-ms-transition: all 0.30s ease-in-out;
		-o-transition: all 0.30s ease-in-out;
		outline: none;
}
input[type="password"]
{
	width: 300px;
	height:30px;
	padding-left:10px;
	padding-right:10px;
	font-family: 'Open Sans', sans-serif;
	border:1px solid #A9A9A9;
		-webkit-transition: all 0.30s ease-in-out;
		-moz-transition: all 0.30s ease-in-out;
		-ms-transition: all 0.30s ease-in-out;
		-o-transition: all 0.30s ease-in-out;
		outline: none;
}
.medium_textbox{ 
	width: 480px;
	height:30px;
	padding-left:10px;
	padding-right:10px;
	font-family: 'Open Sans', sans-serif;
	border:1px solid #A9A9A9;
		-webkit-transition: all 0.30s ease-in-out;
		-moz-transition: all 0.30s ease-in-out;
		-ms-transition: all 0.30s ease-in-out;
		-o-transition: all 0.30s ease-in-out;
		outline: none;
}
.small_textbox{  
	width: 380px;
	height:30px;
	padding-left:10px;
	padding-right:10px;
	font-family: 'Open Sans', sans-serif;
	border:1px solid #A9A9A9;
		-webkit-transition: all 0.30s ease-in-out;
		-moz-transition: all 0.30s ease-in-out;
		-ms-transition: all 0.30s ease-in-out;
		-o-transition: all 0.30s ease-in-out;
		outline: none;
} 

/*input[type="text"] .small_textbox_new{  
	width: 380px;
	height:30px;
	padding-left:10px;
	padding-right:10px;
	font-family: 'Open Sans', sans-serif;
	border:1px solid #A9A9A9;
		-webkit-transition: all 0.30s ease-in-out;
		-moz-transition: all 0.30s ease-in-out;
		-ms-transition: all 0.30s ease-in-out;
		-o-transition: all 0.30s ease-in-out;
		outline: none;
} */
.text_box{
	width: 300px;
	height:30px;
	padding-left:10px;
	padding-right:10px;
	font-family: 'Open Sans', sans-serif;
	border:1px solid #A9A9A9;
		-webkit-transition: all 0.30s ease-in-out;
		-moz-transition: all 0.30s ease-in-out;
		-ms-transition: all 0.30s ease-in-out;
		-o-transition: all 0.30s ease-in-out;
		outline: none;
}
.text_box:focus{
	box-shadow: 0 0 1px #8181F7;
	border:1px solid #8181F7;
}
textarea{
	width: 300px;
	height:75px;
	padding:10px;
}
input[type=text]:focus, textarea:focus {
	box-shadow: 0 0 1px #8181F7;
	border:1px solid #8181F7;
} 
select{
	width: 300px;
	height:30px;
	font-family: 'Open Sans', sans-serif;
	border:1px solid #A9A9A9;
}
.select_small{
	width: 150px;
	height:30px;
	font-family: 'Open Sans', sans-serif;
	border:1px solid #A9A9A9;
}
.select_large{
	width: 150px;
	height:100px;
	font-family: 'Open Sans', sans-serif;
	border:1px solid #A9A9A9;
}
.textarea_small{
	width: 200px;
	height:50px;
	padding:10px;
}
input[type="submit"]{
	width:auto;
	height:30px;
	background:#088A08;
	border:none;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
}
.submit_button_div{
	padding-top:25px;
}
.txt_lable{
	padding-bottom:5px;
	padding-top:15px;
	font-size:14px;
	color:#000;
}
.txt_lable1{
	float:left;
	padding-bottom:5px;
	padding-top:15px;
	font-size:14px;
	color:#000;
}

/* FOR MENU*/
.menu_heading{
	background:#ff5733;
	color:#fff;
	height:30px;
	padding-top:8px;
	padding-left:8px;
	font-size:16px;
	font-weight:bold;
	margin-top:18px;
}
#cssmenu {
  background: #333;
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
}
#cssmenu li {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}
#cssmenu a {
  background: #333;
  border-bottom: 1px solid #393939;
  color: #ccc;
  display: block;
  margin: 0;
  padding: 8px 12px;
  text-decoration: none;
  font-weight: normal;
  font-size:13px;
}
#cssmenu a:hover {
  background: #2580a2 url("images/hover.gif") left center no-repeat;
  color: #fff;
  padding-bottom: 8px;
}
/* FOR MENU*/

.widget1{
	width:300px;
	height:150px;
	border:1px solid #578EBE;
	float:left;
	font-family: 'Open Sans', sans-serif;
}
.widget1_heading{
	width:300px;
	height:27px;
	background:#578EBE;
	color:#fff;
	text-align:center;
	padding-top:8px;
	margin-bottom:10px;
	font-family: 'Open Sans', sans-serif;
}
.widget1_body{
	padding:5px;
	color:#000;
}
.widget2{
	margin-left:5px;
	width:190px;
	height:110px;
	border:1px solid #9A88FC;
	border-radius:4px;
	float:left;
    margin-right:10px;
	margin-bottom:10px;
	font-family: 'Open Sans', sans-serif;
}
.widget2_heading{
	width:190px;
	height:27px;
	background:#9A88FC;
	color:#444243;
	text-align:center;
	padding-top:8px;
	font-family: 'Trebuchet MS', sans-serif;
}
.widget2_body{
	padding:10px;
	color:#000;
}
.widget3{
	width:190px;
	height:110px;
	border:1px solid #E71026;
	float:left;
	font-family: 'Open Sans', sans-serif;
		float:left;
margin-right:10px;
	margin-bottom:10px;

}
.widget3_heading{
	width:190px;
	height:27px;
	background:#E71026;
	color:#fff;
	text-align:center;
	padding-top:8px;
	margin-bottom:10px;
	font-family: 'Open Sans', sans-serif;
}
.widget3_body{
	padding:5px;
	color:#000;
}
.widget4{
	width:190px;
	height:110px;
	border:1px solid #F74406;
	float:left;
	font-family: 'Open Sans', sans-serif;
		float:left;
margin-right:10px;
	margin-bottom:10px;
	font-family: 'Open Sans', sans-serif;
}
.widget4_heading{
	width:190px;
	height:27px;
	background:#F74406;
	color:#fff;
	text-align:center;
	padding-top:8px;
	margin-bottom:10px;
	font-family: 'Open Sans', sans-serif;
}
.widget4_body{
	padding:5px;
	color:#000;
}
.widget5{
	width:190px;
	height:110px;
	border:1px solid #098703;
	float:left;
	font-family: 'Open Sans', sans-serif;
		float:left;
margin-right:10px;
	margin-bottom:10px;
	font-family: 'Open Sans', sans-serif;
}
.widget5_heading{
	width:190px;
	height:27px;
	background:#098703;
	color:#fff;
	text-align:center;
	padding-top:8px;
	margin-bottom:10px;
	font-family: 'Open Sans', sans-serif;
}
.widget5_body{
	padding:5px;
	color:#000;
}
.credits_div{
	height:35px;
	padding-top:5px;
	padding-left:15px;
}
.order_hisory_table{
	border:1px solid #1F1F1F;
	font-size:13px;
	width:100%;
  font-family: 'Trebuchet MS', sans-serif;
}
.table_heading{
	background:#1F1F1F;
	height:34px;
	color:#fff;
	font-size:13px;
  font-family: 'Trebuchet MS', sans-serif;
}
.order_hisory_table td{
	border: 1px solid #1F1F1F;
	border-top:0px;
	border-right:0px;
	padding-left:5px;
	vertical-align:middle;
	padding-top:10px;
	padding-bottom:10px;
  font-family: 'Trebuchet MS', sans-serif;
}
.forgot_pass_div{
	margin-top:10px;
	padding-left:0px;
}
.forgot_pass_div a{
	color:red;
}
.admin_menu_holder{
	height:38px;
	width:100%;
	background:#222222;
	border:1px solid #FCF68C;
}
.admin_menu_link{
  background-color: #333;
}
.admin_menu_link a{
  float: left;
  display: block;
  color: #F2F2F2;
  text-align: center;
  padding :10px 12px;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Trebuchet MS', sans-serif;
}
.admin_menu_link a:hover{
  background-color: #FCF68C;
  color: #F66F11;
}


.image_large{
	border:none;
	width:600px;
	height:auto;
	float:left;
	position:relative;
	padding-right:15px;
}
.content_text{
	color:#000;
}
.clear{
clear:both;
}